<div class="filter">
  <button class="filter-btn" (click)="handleFilter('burger')">
    <img src="https://cdn-icons-png.flaticon.com/512/1046/1046886.png" alt="">
  </button>

  <button class="filter-btn" (click)="handleFilter('chicken')">
    <img src="https://cdn-icons-png.flaticon.com/512/1046/1046886.png" alt="">
  </button>


  <button class="filter-btn" (click)="handleFilter('taco')">
    <img src="https://cdn-icons-png.flaticon.com/512/3946/3946513.png" alt="">
  </button>

  <button class="filter-btn" (click)="handleFilter('drink')">
    <img src="https://www.clipartmax.com/png/middle/21-215343_drink-icon.png" alt="">
  </button>
</div>
